body{
    margin: 0;
    
}
.container{
    /* max-width: 1128px; */
}
.hero{
    
    background-color: #F3EED9;
    text-align: center;
    padding: 15% 0;
   
}
.hero p{
    font-family: 'Roboto Light', sans-serif; 
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0;
 
  
}
.hero h1{
    font-family: 'Playfair Display', serif;
    color: #824936;
    font-size: 60px;
    margin-top: 0;
   
}

.div-container{
    padding: 100px 10%;
}
.first-div{
   
}
.first-div h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #824936;
    font-size: 36px;
}
.row{
    display: flex;
    
}
.col + .col{
    margin-left: 50px;
}
.col p{
    font-size: 3vmin;
}

.second-div{
    background-color: #222C2A;
    padding: 50px 10%;
}
.second-div h1{
    color: #F3EED9;
}
.second-div p{
    color: #F3EED9;
}
.col img{
    padding: 60px 0;
    max-width: 150vmin;
    
}

.third-div{
    background-color: #824936;
    padding: 50px 10%;
}

.third-div h1{
    color: #F3EED9;
}
.third-div p{
    color: #F3EED9;
}
